body {
  font-family: "Roboto", sans-serif, "Times New Roman", Times, serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: #e5e7eb;
  margin: 15px;
}
button {
  background-color: #3882f6;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 6px;
}

.header-container,
.footer {
  display: flex;
  background-color: #1f2937;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  padding: 20px;
}
.header-links {
  font-size: 18px;
  color: #e5e7eb;
}

.body {
  flex: 1;
  background-color: aqua;
}
/**************************************************/
.website-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1f2937;
  padding: 20px;
  gap: 200px;
  flex-wrap: wrap;
}

.website-text {
  padding: 20px;
  max-width: 400px; /* Maximalbreite für den Textbereich */
  flex: 1 1 300px; /* Flex-Eigenschaften für responsives Verhalten */
}
.website-headertext {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.website-subtext {
  display: block;
  font-size: 18px;
  color: #e5e7eb;
  padding-bottom: 5px;
}

.website-image {
  text-align: center;
  align-content: center;
  max-width: 500px; /* Maximalbreite für den Bildbereich */
  flex: 1 1 300px; /* Flex-Eigenschaften für responsives Verhalten */
  background-color: rgb(105, 105, 105);
  padding: 20px;
}
.placeholder {
  max-width: 100%;
  height: auto;
}

/**************************************************/
.information-container {
  display: flex;
  justify-content: space-between;
}
/**************************************************/
.quote-container {
  display: flex;
  justify-content: space-between;
}

.signup {
  display: flex;
  justify-content: space-between;
}
/**************************************************/
.footer {
  color: #f9faf8;
  font-size: 18px;
  /*position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;*/
  padding: 15px;
}
