body{
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;

}
a{ 
    text-decoration: none;
    color: #e5e7eb;
    margin: 15px;
}

.header-container , .footer{
    display: flex; 
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    
    
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
    padding: 20px;
}
.header-links{
    font-size: 18px;
    
}

.body{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: aqua;
}

.website-container{
    display: flex;
    justify-content: space-between;
}

.information-container{
    display: flex;
    justify-content: space-between;
}

.quote-container{
    display: flex;
    justify-content: space-between;
}

.signup{
    display: flex;
    justify-content: space-between;
}

.footer {
    color: #f9faf8;
    font-size: 18px;
    /*position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;*/
    padding: 15px; 
}